body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.theme-switch-container {
  position: absolute;
  bottom: 10px;
  right: 10px;

  wa-icon:first-child {
    margin-right: 5px;
  }

  wa-icon:last-child {
    margin-left: -2px;
  }
}

#uuid-text {
  text-align: center;
  margin: 20px 15px;
  font-size: 25px;
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  #uuid-text {
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}